html{
	height: 100%;
}
body{
	margin:0;
	width:100%;
	height:100%;
	/*background-image: url("../images/fondo.jpg");*/
  background-repeat:repeat-x;
	background-size:100% 92.3%;
	background-repeat: no-repeat;
	overflow:hidden;
}
